.App {
  text-align: center;
}

.pokedex {
  padding-top: 50px;
  padding-bottom: 50px;
  position: fixed;
  align-items: center;
  width: 70%;
  background-color: #d1092b;
  margin-left: 15%;
  border-radius: 10px;

  max-width: 350px;
}

.screen {
  background-color: #d3ffca;
  border-radius: 10px;
  border-color: #000;
  border-style: solid;

  margin: 50px 20px 20px 20px;
}

.pokeName {
  text-transform: uppercase;
}

.props {
  text-align: left;
  list-style-type: square;
}

.search-label {
  margin-right: 10px;
  font-weight: bold;
  color: aliceblue;
}

.search-input {
  background: silver;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px !important;
  color: #393939;
  font-size: 12px;
  padding: 5px;
}
