.App {
  text-align: center;
}

.complete {
  margin-top: 50px;
  margin-left: 15%;
  max-width: 850px;
 display: flex;
}
.pokedex {
  padding-top: 50px;
  padding-bottom: 50px; 
  align-items: center;
  width: 50%;
  background-color: #d1092b;
  max-width: 400px;
  min-width: 280px;
  border-radius: 10px;
  border-color: #000;
  border-style: solid; 
}

.screen {
  background-color: #d3ffca;
  border-radius: 10px;
  border-color: #000;
  border-style: solid;
  margin: 70px 20px 20px 20px;
  min-height: 249px;
}

.pokeName {
  text-transform: uppercase;
}

.props {
  text-align: left;
  list-style-type: square;
}

.search-label {
  margin-right: 10px;
  font-weight: bold;
  color: aliceblue;
}

.search-input {
  background: silver;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px !important;
  color: #393939;
  font-size: 12px;
  padding: 5px;
}

.camera-simulator {
  position: absolute;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 50%;
  border-color: #000;
  border-style: solid;
  background-color: #ffe600;
  width: 50px;
  height: 50px;
}

.header-label {
  color: #fff;
  margin-left: 100px;
  position: fixed;
  
}

/*BACK POKEDEX */

.back {
  background-color: #df0909;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  border-color: #000;
  border-style: solid; 

  max-width: 400px;
  min-width: 300px;

}
